<html>
	<head>
		<title>Precio modificado</title>
	</head>
	<body>
		<table border=1><tr><td>
		<table border=0>
			<tr><td bgcolor=#D4FFAD><h2>Modificar precio de una publicaci&oacute;n:</h2></td></tr>
			<tr><td>El precio de la publicaci&oacute;n <strong>({{ pub.pub_id }}) {{ pub.titulo }}</strong>
				fue modificado correctamente.
			</td></tr>
		</table>
		</td></tr></table>
		<br>
		<table><tr><td><img src="/img/volver.png"></td><td><a href="/p1">Volver</a></td></tr></table>
	</body>
</html>
